#janes-score-btn {
    width: 400px;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    margin: 100px auto;
    background-color: palevioletred;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

#data {
    color: palevioletred;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}